.container {
    background-color: rgb(197, 162, 122);
    width: 100%;
    height: auto;
} 

.logo img {
    width: 300px;  /* Define a largura da imagem */
    height: auto;  /* Mantém a proporção da imagem */
}
body {
    background: linear-gradient(to right, #f0f0f0, #d0d0d0, #a0a0a0);
   
}
.opa {
    display:flex;
    justify-content: center;
    height: auto;

}